
@{
    Layout = "_LayoutAdmin";
}

<div class="Admin-AddNewModel">
    <i class="fa-solid fa-arrow-left-long"></i>

    <a asp-controller="Admin" asp-action="ListSongUsing">Back</a>

    <h1>New song</h1>

    <form>
        <div asp-validation-summary="ModelOnly" class="login-validation-summary-errors"></div>

        <div class="Admin-AddNewModel_text_field">
            <label>Directory path</label>
            
            <input type="text" id="Directory-path" readonly/>
            <input type="file" class="hide" />
            
            <span class="text-danger"></span>
            <i class="fa-regular fa-folder-closed" id="folder"></i>

        </div>

        <div class="Admin-AddNewModel_text_field">
            <label>Name</label>
            <input type="text" />
            <span class="text-danger"></span>
        </div>

        <div class="Admin-AddNewModel_text_field">
            <label>Artist</label>
            <input type="text" />
            <span class="text-danger"></span>
        </div>

        <div class="Admin-AddNewModel-Category">
            <label>Genre</label>

            @*Hiển thị các Genre đã chọn lên ô chứa Genre*@
            <div class="Category-Show">
                <div class="Category-Show-item hide" id="checkbox-Pop">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Pop"></i>
                    Pop
                </div>

                <div class="Category-Show-item hide" id="checkbox-Rap">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Rap"></i>
                    Rap
                </div>

                <div class="Category-Show-item hide" id="checkbox-Classical">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Classical"></i>
                    Classical
                </div>

                <div class="Category-Show-item hide" id="checkbox-Folksong">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Folksong"></i>
                    Folksong
                </div>

                <div class="Category-Show-item hide" id="checkbox-Country">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Country"></i>
                    Country
                </div>
            </div>

            @*Hiển thị các checkbox Genre để chọn*@
            <div class="Category-List">
                <i class="fa-solid fa-caret-down" id="List-Genre"></i>
                <div class="hide" id="Genre-Item">
                    <div class="Category-item" >
                        <input type="checkbox" checkbox-Category-id="checkbox-Pop" />
                        Pop
                    </div>

                    <div class="Category-item" >
                        <input type="checkbox" checkbox-Category-id="checkbox-Rap" />
                        Rap
                    </div>

                    <div class="Category-item" >
                        <input type="checkbox" checkbox-Category-id="checkbox-Classical" />
                        Classical
                    </div>

                    <div class="Category-item" >
                        <input type="checkbox" checkbox-Category-id="checkbox-Folksong" />
                        Folksong
                    </div>

                    <div class="Category-item" >
                        <input type="checkbox" checkbox-Category-id="checkbox-Country" />
                        Country
                    </div>
                </div>
            </div>
        </div>


        <div class="Admin-AddNewModel-Category">
            <label>Emotion</label>

            @*Hiển thị các Emotion đã chọn lên ô chứa Emotion*@
            <div class="Category-Show">
                <div class="Category-Show-item hide" id="checkbox-Active">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Active"></i>
                    Active
                </div>

                <div class="Category-Show-item hide" id="checkbox-Fun">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Fun"></i>
                    Fun
                </div>

                <div class="Category-Show-item hide" id="checkbox-Happy">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Happy"></i>
                    Happy
                </div>

                <div class="Category-Show-item hide" id="checkbox-Optimistic">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Optimistic"></i>
                    Optimistic
                </div>

                <div class="Category-Show-item hide" id="checkbox-Torment">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Torment"></i>
                    Torment
                </div>
            </div>

            @*Hiển thị các checkbox Emotion để chọn*@
            <div class="Category-List">
                <i class="fa-solid fa-caret-down" id="List-Emotion"></i>
                <div class="hide" id="Emotion-Item">
                    <div class="Category-item">
                        <input type="checkbox" checkbox-Category-id="checkbox-Active" />
                        Active
                    </div>

                    <div class="Category-item">
                        <input type="checkbox" checkbox-Category-id="checkbox-Fun" />
                        Fun
                    </div>

                    <div class="Category-item">
                        <input type="checkbox" checkbox-Category-id="checkbox-Happy" />
                        Happy
                    </div>

                    <div class="Category-item">
                        <input type="checkbox" checkbox-Category-id="checkbox-Optimistic" />
                        Optimistic
                    </div>

                    <div class="Category-item">
                        <input type="checkbox" checkbox-Category-id="checkbox-Torment" />
                        Torment
                    </div>
                </div>
            </div>

        </div>
    </form>

    <div class="btn-AddNewModel">
        <button>Add new song</button>
    </div>
</div>

<script>
    // Add new song - list genre and emotion

    var ListGenre = document.querySelector("#List-Genre");
    var ListEmotion = document.querySelector("#List-Emotion");
    var GenreItem = document.querySelector("#Genre-Item");
    var EmotionItem = document.querySelector("#Emotion-Item");


    ListGenre.addEventListener("click", function () {
        GenreItem.classList.toggle("hide");
        EmotionItem.classList.add("hide");
    })

    ListEmotion.addEventListener("click", function () {
        EmotionItem.classList.toggle("hide");
        GenreItem.classList.add("hide");
    })

    // Add new song - click icon folfer

    var fileInput = document.querySelector("input[type='file']");
    var fileSelect = document.querySelector('#folder');
    var filePath = document.querySelector("#Directory-path");

    fileSelect.addEventListener("click", (event) => {
        event.preventDefault(); // ngăn chặn sự kiện mặc định của phần tử i
        fileInput.click(); // tự động gọi sự kiện của phần tử input file
    });

    fileInput.addEventListener('change', (event) => {
        const selectedFile = event.target.files[0];
        filePath.value = selectedFile.name; // hiển thị đường dẫn của tệp tin đã chọn lên phần tử input text
    });
</script>
