@{
    Layout = "_LayoutAdmin";
}

<div class="Admin-AddNewModel">
    <i class="fa-solid fa-arrow-left-long"></i>

    <a asp-controller="Admin" asp-action="ListGenresOfSong">Back</a>

    <h1>New genre</h1>

    <form>
        <div asp-validation-summary="ModelOnly" class="login-validation-summary-errors"></div>

        <div class="Admin-AddNewModel_text_field">
            <label>ID</label>
            <input type="text" />
            <span class="text-danger"></span>
        </div>

        <div class="Admin-AddNewModel_text_field">
            <label>Name</label>
            <input type="text" />
            <span class="text-danger"></span>
        </div>
    </form>

    <div class="btn-AddNewModel">
        <button>Add new genre</button>
    </div>
</div>
