
@{
    Layout = "_LayoutAdmin";
}

<div class="Admin-AddNewSong">
    <i class="fa-solid fa-arrow-left-long"></i>

    <a asp-controller="" asp-action="">Back</a>

    <h1>New song</h1>

    <form>
        <div asp-validation-summary="ModelOnly" class="login-validation-summary-errors"></div>

        <div class="Admin-AddNewSong_text_field">
            <label>Directory path</label>
            
            <input type="text" id="Directory-path" readonly/>
            <input type="file" class="hide" />
            
            <span class="text-danger"></span>
            <i class="fa-regular fa-folder-closed" id="folder"></i>

        </div>

        <div class="Admin-AddNewSong_text_field">
            <label>Name</label>
            <input type="text" />
            <span class="text-danger"></span>
        </div>

        <div class="Admin-AddNewSong_text_field">
            <label>Artist</label>
            <input type="text" />
            <span class="text-danger"></span>
        </div>

        <div class="Admin-AddNewSong-Category">
            <label>Genre</label>

            @*Hiển thị các Genre đã chọn lên ô chứa Genre*@
            <div class="Category-Show">
                <div class="Category-Show-item hide" id="checkbox-Pop">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Pop"></i>
                    Pop
                </div>

                <div class="Category-Show-item hide" id="checkbox-Rap">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Rap"></i>
                    Rap
                </div>

                <div class="Category-Show-item hide" id="checkbox-Classical">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Classical"></i>
                    Classical
                </div>

                <div class="Category-Show-item hide" id="checkbox-Folksong">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Folksong"></i>
                    Folksong
                </div>

                <div class="Category-Show-item hide" id="checkbox-Country">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Country"></i>
                    Country
                </div>
            </div>

            @*Hiển thị các checkbox Genre để chọn*@
            <div class="Category-List">
                <i class="fa-solid fa-caret-down" id="List-Genre"></i>
                <div class="hide" id="Genre-Item">
                    <div class="Category-item" >
                        <input type="checkbox" checkbox-Category-id="checkbox-Pop" />
                        Pop
                    </div>

                    <div class="Category-item" >
                        <input type="checkbox" checkbox-Category-id="checkbox-Rap" />
                        Rap
                    </div>

                    <div class="Category-item" >
                        <input type="checkbox" checkbox-Category-id="checkbox-Classical" />
                        Classical
                    </div>

                    <div class="Category-item" >
                        <input type="checkbox" checkbox-Category-id="checkbox-Folksong" />
                        Folksong
                    </div>

                    <div class="Category-item" >
                        <input type="checkbox" checkbox-Category-id="checkbox-Country" />
                        Country
                    </div>
                </div>
            </div>
        </div>


        <div class="Admin-AddNewSong-Category">
            <label>Emotion</label>

            @*Hiển thị các Emotion đã chọn lên ô chứa Emotion*@
            <div class="Category-Show">
                <div class="Category-Show-item hide" id="checkbox-Active">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Active"></i>
                    Active
                </div>

                <div class="Category-Show-item hide" id="checkbox-Fun">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Fun"></i>
                    Fun
                </div>

                <div class="Category-Show-item hide" id="checkbox-Happy">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Happy"></i>
                    Happy
                </div>

                <div class="Category-Show-item hide" id="checkbox-Optimistic">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Optimistic"></i>
                    Optimistic
                </div>

                <div class="Category-Show-item hide" id="checkbox-Torment">
                    <i class="fa-solid fa-xmark" icon-Category-id="checkbox-Torment"></i>
                    Torment
                </div>
            </div>

            @*Hiển thị các checkbox Emotion để chọn*@
            <div class="Category-List">
                <i class="fa-solid fa-caret-down" id="List-Emotion"></i>
                <div class="hide" id="Emotion-Item">
                    <div class="Category-item">
                        <input type="checkbox" checkbox-Category-id="checkbox-Active" />
                        Active
                    </div>

                    <div class="Category-item">
                        <input type="checkbox" checkbox-Category-id="checkbox-Fun" />
                        Fun
                    </div>

                    <div class="Category-item">
                        <input type="checkbox" checkbox-Category-id="checkbox-Happy" />
                        Happy
                    </div>

                    <div class="Category-item">
                        <input type="checkbox" checkbox-Category-id="checkbox-Optimistic" />
                        Optimistic
                    </div>

                    <div class="Category-item">
                        <input type="checkbox" checkbox-Category-id="checkbox-Torment" />
                        Torment
                    </div>
                </div>
            </div>

        </div>
    </form>

    <div class="btn-AddNewSong">
        <button>Add new song</button>
    </div>
</div>
