@{
    Layout = "_LayoutAdmin";
}

<div class="Model-Container">
    <div class="Model-Search-Box">
        <div class="Model-Search">
            <input type="text" placeholder="Find emotion here - Eg: Nostalgia ..." />
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="Model-btn-AddNewModel">
            <a asp-controller="Admin" asp-action="AddNewEmotion">Add new emotion</a>
        </div>
    </div>

    <div class="Model-Show">
        <h1>List emotions</h1>

        <table class="Model-table">
            <thead>
                <tr>
                    <td class="table-STT">STT</td>
                    <td>Name</td>
                    <td>ID</td>
                    <td class="table-Delete-Edit"></td>
                </tr>
            </thead>

            <tbody>
                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Anger</td>
                    <td>E001</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>2</td>
                    <td>Anxiety</td>
                    <td>E002</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>3</td>
                    <td>Dreamy</td>
                    <td>E003</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>4</td>
                    <td>Energetic</td>
                    <td>E004</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>5</td>
                    <td>Happy</td>
                    <td>E005</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>6</td>
                    <td>Lonely</td>
                    <td>E006</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>7</td>
                    <td>Mournful</td>
                    <td>E007</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>8</td>
                    <td>Nostalgia</td>
                    <td>E008</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>9</td>
                    <td>Optimistic</td>
                    <td>E009</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>10</td>
                    <td>Sorrow</td>
                    <td>E010</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="Model-Page">
            <div class="Model-GoToPage">
                <a href="">Go to page: </a>
                <input type="text" value="1" />
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Previous</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">2</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">3</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">4</a>
            </div>

            <div class="Model-3dots">...</div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Next</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Last</a>
            </div>
        </div>
    </div>
</div>