
@{
    Layout = "_LayoutAdmin";
}

<div class="ListSongUsing-Container">
    <div class="ListSongUsing-Search-Box">
        <div class="ListSongUsing-Search">
            <input type="text" placeholder="Find song here - Eg: Anti hero ..." />
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="ListSongUsing-btn-AddNewSong">
            <a asp-controller="Admin" asp-action="AddNewSong">Add new song</a>
        </div>
    </div>

    <div class="ListSongUsing-Show">
        <h1>List song using</h1>

        <table class="ListSongUsing-table">
            <thead>
                <tr>
                    <td class="table-STT">STT</td>
                    <td>Name</td>
                    <td>Artist</td>
                    <td>Genre</td>
                    <td>Emotion</td>
                    <td class="table-Delete-Edit"></td>
                </tr>
            </thead>

            <tbody>
                <tr class="ListSongUsing-table-data">
                    <td>1</td>
                    <td>Blue Tequila</td>
                    <td>Táo</td>
                    <td>Pop, Rap</td>
                    <td>Sad, Torment, Solitary</td>
                    <td class="ListSongUsing-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png"/>
                    </td>
                </tr>

                <tr class="ListSongUsing-table-data">
                    <td>1</td>
                    <td>Blue Tequila</td>
                    <td>Táo</td>
                    <td>Pop, Rap</td>
                    <td>Sad, Torment, Solitary</td>
                    <td class ="ListSongUsing-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="ListSongUsing-table-data">
                    <td>1</td>
                    <td>Blue Tequila</td>
                    <td>Táo</td>
                    <td>Pop, Rap</td>
                    <td>Sad, Torment, Solitary</td>
                    <td class="ListSongUsing-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="ListSongUsing-table-data">
                    <td>1</td>
                    <td>Blue Tequila</td>
                    <td>Táo</td>
                    <td>Pop, Rap</td>
                    <td>Sad, Torment, Solitary</td>
                    <td class="ListSongUsing-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="ListSongUsing-table-data">
                    <td>1</td>
                    <td>Blue Tequila</td>
                    <td>Táo</td>
                    <td>Pop, Rap</td>
                    <td>Sad, Torment, Solitary</td>
                    <td class="ListSongUsing-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="ListSongUsing-table-data">
                    <td>1</td>
                    <td>Blue Tequila</td>
                    <td>Táo</td>
                    <td>Pop, Rap</td>
                    <td>Sad, Torment, Solitary</td>
                    <td class="ListSongUsing-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="ListSongUsing-table-data">
                    <td>1</td>
                    <td>Blue Tequila</td>
                    <td>Táo</td>
                    <td>Pop, Rap</td>
                    <td>Sad, Torment, Solitary</td>
                    <td class="ListSongUsing-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="ListSongUsing-table-data">
                    <td>1</td>
                    <td>Blue Tequila</td>
                    <td>Táo</td>
                    <td>Pop, Rap</td>
                    <td>Sad, Torment, Solitary</td>
                    <td class="ListSongUsing-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="ListSongUsing-table-data">
                    <td>1</td>
                    <td>Blue Tequila</td>
                    <td>Táo</td>
                    <td>Pop, Rap</td>
                    <td>Sad, Torment, Solitary</td>
                    <td class="ListSongUsing-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>

                <tr class="ListSongUsing-table-data">
                    <td>1</td>
                    <td>Blue Tequila</td>
                    <td>Táo</td>
                    <td>Pop, Rap</td>
                    <td>Sad, Torment, Solitary</td>
                    <td class="ListSongUsing-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <img src="~/img/🦆 icon _pencil outline_.png" />
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="ListSongUsing-Page">
            <div class="ListSongUsing-GoToPage">
                <a href="">Go to page: </a>
                <input type="text" value="1"/>
            </div>

            <div class="ListSongUsing-prev-pagenumber-next-last">
                <a href="#">Previous</a>
            </div>

            <div class="ListSongUsing-prev-pagenumber-next-last">
                <a href="#">2</a>
            </div>

            <div class="ListSongUsing-prev-pagenumber-next-last">
                <a href="#">3</a>
            </div>

            <div class="ListSongUsing-prev-pagenumber-next-last">
                <a href="#">4</a>
            </div>

            <div class="ListSongUsing-3dots">...</div>

            <div class="ListSongUsing-prev-pagenumber-next-last">
                <a href="#">Next</a>
            </div>

            <div class="ListSongUsing-prev-pagenumber-next-last">
                <a href="#">Last</a>
            </div>
        </div>
    </div>
</div>