@{
    Layout = "_LayoutAdmin";
}

<div class="Model-Container">
    <div class="Model-Search-Box">
        <div class="Model-Search">
            <input type="text" placeholder="Find genre here - Eg: Classical ..." />
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="Model-btn-AddNewModel">
            <a asp-controller="Admin" asp-action="AddNewGenre">Add new genre</a>
        </div>
    </div>

    <div class="Model-Show">
        <h1>List genres of song</h1>

        <table class="Model-table">
            <thead>
                <tr>
                    <td class="table-STT">STT</td>
                    <td>Name</td>
                    <td>ID</td>
                    <td class="table-Delete-Edit"></td>
                </tr>
            </thead>

            <tbody>
                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Alternative rock</td>
                    <td>G001</td> 
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <a asp-controller="Admin" asp-action="GenreEditting">
                            <img src="~/img/🦆 icon _pencil outline_.png" />
                        </a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>2</td>
                    <td>Ambient</td>
                    <td>G002</td> 
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <a asp-controller="Admin" asp-action="GenreEditting">
                            <img src="~/img/🦆 icon _pencil outline_.png" />
                        </a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>3</td>
                    <td>Blues</td>
                    <td>G003</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <a asp-controller="Admin" asp-action="GenreEditting">
                            <img src="~/img/🦆 icon _pencil outline_.png" />
                        </a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>4</td>
                    <td>Classical</td>
                    <td>G004</td>   
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <a asp-controller="Admin" asp-action="GenreEditting">
                            <img src="~/img/🦆 icon _pencil outline_.png" />
                        </a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>5</td>
                    <td>Country</td>
                    <td>G005</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <a asp-controller="Admin" asp-action="GenreEditting">
                            <img src="~/img/🦆 icon _pencil outline_.png" />
                        </a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>6</td>
                    <td>Dance</td>
                    <td>G006</td>  
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <a asp-controller="Admin" asp-action="GenreEditting">
                            <img src="~/img/🦆 icon _pencil outline_.png" />
                        </a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>7</td>
                    <td>Disco</td>
                    <td>G007</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <a asp-controller="Admin" asp-action="GenreEditting">
                            <img src="~/img/🦆 icon _pencil outline_.png" />
                        </a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>8</td>
                    <td>Dub</td>
                    <td>G008</td>  
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <a asp-controller="Admin" asp-action="GenreEditting">
                            <img src="~/img/🦆 icon _pencil outline_.png" />
                        </a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>9</td>
                    <td>Electronic</td>
                    <td>G009</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <a asp-controller="Admin" asp-action="GenreEditting">
                            <img src="~/img/🦆 icon _pencil outline_.png" />
                        </a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>10</td>
                    <td>Folksong</td>
                    <td>G010</td>
                    <td class="Model-table-data-del-edit">
                        <i class="fa-regular fa-rectangle-xmark"></i>
                        <a asp-controller="Admin" asp-action="GenreEditting">
                            <img src="~/img/🦆 icon _pencil outline_.png" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="Model-Page">
            <div class="Model-GoToPage">
                <a href="">Go to page: </a>
                <input type="text" value="1" />
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Previous</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">2</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">3</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">4</a>
            </div>

            <div class="Model-3dots">...</div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Next</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Last</a>
            </div>
        </div>
    </div>
</div>