@model OrderViewModel
@{
    Layout = "_LayoutAdmin";
}

<div class="Details-Container">
    <h1>Order details</h1>

    <div class="Details-body">
        <div class="Details-img">
            <img src="@("/img/story/" + Model.StoryImage)" asp-append-version="true" />
        </div>

        <div class="Details-Show">
            <div class="Details-Information">
                <label>Order name</label>
                <input id="OrderName" asp-for="OrderName" readonly />
            </div>

            <div class="Details-Information">
                <label>User</label>
                <input id="User" asp-for="User" readonly />
            </div>

            <div class="Details-Information">
                <label>User's account</label>
                <input id="UserAccount" asp-for="UserAccount" readonly />
            </div>

            <div class="Details-Information">
                <label>Day</label>
                <input id="Day" asp-for="Day" readonly />
            </div>

            <div class="Details-Information">
                <label>Order type</label>
                <input id="OrderType" asp-for="OrderType" readonly />
            </div>

            <div class="Details-Information">
                <label>Price</label>
                <input id="Price" asp-for="Price" readonly />
            </div>

            <div class="Details-footer">
                <a asp-controller="Admin" asp-action="ListOrders">Back to Order page</a>
                @*<button id="btn-Order">Edit information</button>*@
            </div>
        </div>
    </div>
</div>

@*<script>

    var btnOrder = document.querySelector("#btn-Order");
    var OrderName = document.querySelector("#OrderName");
    var User = document.querySelector("#User");
    var UserAccount = document.querySelector("#UserAccount");
    var Day = document.querySelector("#Day");
    var OrderType = document.querySelector("#OrderType");
    var Price = document.querySelector("#Price");

    btnOrder.addEventListener("click", function () {
        OrderName.readOnly = false;
        User.readOnly = false;
        UserAccount.readOnly = false;
        Day.readOnly = false;
        OrderType.readOnly = false;
        Price.readOnly = false;
    })

</script>*@
