@{
    Layout = "_LayoutAdmin";
}

<div class="Model-Container">
    <div class="Model-Search-Box">
        <div class="Model-Search">
            <input type="text" placeholder="Find order here - Eg: Nguyễn Đình Anh Tiến ..." />
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>

    <div class="Model-Show">
        <div class="Order-Header">
            <img src="~/img/Vector.png" />
            <div class="Order-Wall"></div>
            <h1>Order</h1>
        </div>

        <table class="Model-table">
            <thead>
                <tr>
                    <td class="table-STT">STT</td>
                    <td>Order name</td>
                    <td>User</td>
                    <td>Type</td>
                    <td>Status</td>
                    <td class="table-Delete-Edit"></td>
                </tr>
            </thead>

            <tbody>
                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    <td>Pending confirmation</td>
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails" >Order details</a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    <td>Pending confirmation</td>
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    <td>Pending confirmation</td>
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    <td>Pending confirmation</td>
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    <td>Pending confirmation</td>
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    <td>Pending confirmation</td>
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    <td>Pending confirmation</td>
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    <td>Pending confirmation</td>
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    <td>Pending confirmation</td>
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>

                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    <td>Pending confirmation</td>
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="Model-Page">
            <div class="Model-GoToPage">
                <a href="">Go to page: </a>
                <input type="text" value="1" />
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Previous</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">2</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">3</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">4</a>
            </div>

            <div class="Model-3dots">...</div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Next</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Last</a>
            </div>
        </div>
    </div>
</div>