@{
    Layout = "_LayoutAdmin";
}

<div class="OrderDetails-Container">
    <i class="fa-solid fa-arrow-left-long"></i>
    <a asp-controller="Admin" asp-action="Order">Back</a>

    <div class="OrderDetails-Title">
        Order details
    </div>

    <div class="OrderDetails-Show">
        <img src="~/img/Template Storii_StoriiTheme.jpg"/>

        <div class="OrderDetails-Information">
            <div class="OrderDetails-Value">
                <label>Order name</label>
                Where the crawdads sing
            </div>

            <div class="OrderDetails-Value">
                <label>Order name</label>
                Where the crawdads sing
            </div>

            <div class="OrderDetails-Value">
                <label>Order name</label>
                Where the crawdads sing
            </div>

            <div class="OrderDetails-Value">
                <label>Order name</label>
                Where the crawdads sing
            </div>
        </div>
    </div>
</div>