@model CreateSongModel

<h3>Add Song</h3>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form enctype="multipart/form-data" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="Artist"></label>
        <div><span asp-validation-for="Artist" class="text-danger"></span></div>
        <input asp-for="Artist" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GenreIds">Genre</label>
        <div><span asp-validation-for="GenreIds" class="text-danger"></span></div>
        <select asp-items="@ViewBag.Genres" asp-for="GenreIds" multiple>
            <option value="">-Select genres-</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="EmotionIds">Emotion</label>
        <div><span asp-validation-for="EmotionIds" class="text-danger"></span></div>
        <select asp-items="@ViewBag.Emotions" asp-for="EmotionIds" multiple>
            <option value="">-Select emotions-</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Audio"></label>
        <div><span asp-validation-for="Audio" class="text-danger"></span></div>
        <input asp-for="Audio" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>