@model EditSongModel

<h3>Edit Song</h3>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form enctype="multipart/form-data" asp-action="Edit" method="post">
    <input type="hidden" asp-for="SongId" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Artist"></label>
        <div><span asp-validation-for="Artist" class="text-danger"></span></div>
        <input asp-for="Artist" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GenreIds">Genre</label>
        <div><span asp-validation-for="GenreIds" class="text-danger"></span></div>
        <select asp-items="@ViewBag.Genres" asp-for="GenreIds" multiple>
            <option value="">-Select genres-</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="EmotionIds">Emotion</label>
        <div><span asp-validation-for="EmotionIds" class="text-danger"></span></div>
        <select asp-items="@ViewBag.Emotions" asp-for="EmotionIds" multiple>
            <option value="">-Select emotions-</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="CurrentAudio">Current Audio</label>
        <div><span asp-validation-for="CurrentAudio" class="text-danger"></span></div>
        <input asp-for="CurrentAudio" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="NewAudio">Choose another audio</label>
        <div><span asp-validation-for="NewAudio" class="text-danger"></span></div>
        <input asp-for="NewAudio" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>