<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
    <script type="text/javascript" src="~/js/multiselect-dropdown.js"></script>
</head>

<body>
    <header class="Header">
        <div class="grid">
            <nav class="Header_navbar">
                <h1 class="Header_navbar-Rhythm">Rhythm</h1>

                <ul class="Header_navbar-list">
                    <li class="Header_navbar-item">
                        <a asp-controller="Home" asp-action="Index" class="Header_navbar-link">Discover</a>
                    </li>
                    <li class="Header_navbar-item">
                        <a asp-controller="Music" asp-action="Index" class="Header_navbar-link">Emotion Song</a>
                    </li>
                    <li class="Header_navbar-item">
                        <a asp-controller="Home" asp-action="Storii" class="Header_navbar-link">Storii</a>
                    </li>
                    @*Các nút Login/Signup hoặc Logout*@
                    <partial name="_LoginPartial" />
                </ul>

            </nav>
        </div>
    </header>

    <div class="Admin-contents">
        <div class="Admin_sidebar_navigations">
            <div class="Admin_sidebar_navigation-item">
                <i class="fa-regular fa-user"></i>
                <a asp-controller="Admin" asp-action="MemberDetail">
                    Member
                </a>
            </div>

            <div class="Admin_sidebar_navigation-item" id="Resources-list">
                <i class="fa-solid fa-bars"></i>
                Resources
            </div>

            <div class="Admin_sidebar_navigation-Resources-item hide" id="Resources-Song">
                <i class="fa-solid fa-music"></i>
                <a asp-controller="Song" asp-action="Index">
                    Song
                </a>
            </div>

            <div class="Admin_sidebar_navigation-Resources-item hide" id="Resources-Genre">
                <i class="fa-solid fa-bars-staggered"></i>
                <a asp-controller="Genre" asp-action="Index">
                    Genre
                </a>
            </div>

            <div class="Admin_sidebar_navigation-Resources-item hide" id="Resources-Emotion">
                <i class="fa-regular fa-paper-plane"></i>
                <a asp-controller="Emotion" asp-action="Index">
                    Emotion
                </a>
            </div>

            <div class="Admin_sidebar_navigation-item" style="padding-left: 8px">
                <i class="fa-solid fa-cart-shopping"></i>
                <a asp-controller="Admin" asp-action="Order">
                    Order
                </a>
            </div>
        </div>

        <div class="Admin-container">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    



    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
