<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
    @await RenderSectionAsync("Links", required: false)

</head>
<body>

    <header class="Header">
        <div class="grid">
            <nav class="Header_navbar">
                <h1 class="Header_navbar-Rhythm">Rhythm</h1>

                <ul class="Header_navbar-list">
                    <li class="Header_navbar-item">
                        <a asp-controller="Home" asp-action="Index" class="Header_navbar-link">Discover</a>
                    </li>
                    <li class="Header_navbar-item">
                        <a asp-controller="Music" asp-action="Index" class="Header_navbar-link">Emotion Song</a>
                    </li>
                    <li class="Header_navbar-item">
                        <a asp-controller="Storii" asp-action="Index" class="Header_navbar-link">Storii</a>
                    </li>
                    @*Các nút Login/Signup hoặc Logout*@
                    <partial name="_LoginPartial" />
                </ul>

            </nav>
        </div>
    </header>

    <div class="Admin-contents">
        <div class="Admin_sidebar_navigations">

            <div class="Manage-Profile_Avatar">
                <img src="/img/Daijin.png" />
            </div>

            <p>Your points: @ViewBag.Point</p>

            <div class="Admin_sidebar_navigation-item">
                <i class="fa-regular fa-user"></i>
                <a asp-controller="Account" asp-action="ManageProfile">
                    Profile
                </a>
            </div>

            <div class="Admin_sidebar_navigation-item">
                <img src="~/img/Resources.png" style="transform: translateY(-8px)" />
                <a asp-controller="Account" asp-action="ManageStories">
                    Stories
                </a>
            </div>

        </div>

        <div class="Admin-container">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
