@{
	Layout = "_LayoutUser";
}

<div class="ManageStory">
	<h1>Your Story</h1>

	<div class="ManageStory-Show">
		<div class="ManageStory-Container">
			<img src="~/img/Template Storii_StoriiTheme.jpg" />

			<div class="ManageStory-Content">
				<p class="ManageStory-Author">Delia Owens</p>
				<p class="ManageStory-StoryTitle">
					Far from here where the crawdads sing
				</p>
				<p class="ManageStory-Description">
					A beautiful Carolina which cover the deepest psychology of a little
					girl, who born for Carolina and die where the crawdads sing!
				</p>
				<p class="ManageStory-Day">26/03/2023</p>
			</div>

			<a asp-controller="" asp-action="" class="ManageStory-ListenNow">
				<div>Listen now</div>
			</a>
		</div>

		<div class="ManageStory-wall"></div>

		<div class="ManageStory-Container">
			<img src="~/img/Template Storii_StoriiTheme.jpg" />

			<div class="ManageStory-Content">
				<p class="ManageStory-Author">Delia Owens</p>
				<p class="ManageStory-StoryTitle">
					Far from here where the crawdads sing
				</p>
				<p class="ManageStory-Description">
					A beautiful Carolina which cover the deepest psychology of a little
					girl, who born for Carolina and die where the crawdads sing!
				</p>
				<p class="ManageStory-Day">26/03/2023</p>
			</div>

			<a asp-controller="" asp-action="" class="ManageStory-ListenNow">
				<div>Listen now</div>
			</a>
		</div>

		<div class="ManageStory-wall"></div>

		<div class="ManageStory-Container">
			<img src="~/img/Template Storii_StoriiTheme.jpg" />

			<div class="ManageStory-Content">
				<p class="ManageStory-Author">Delia Owens</p>
				<p class="ManageStory-StoryTitle">
					Far from here where the crawdads sing
				</p>
				<p class="ManageStory-Description">
					A beautiful Carolina which cover the deepest psychology of a little
					girl, who born for Carolina and die where the crawdads sing!
				</p>
				<p class="ManageStory-Day">26/03/2023</p>
			</div>

			<a asp-controller="" asp-action="" class="ManageStory-ListenNow">
				<div>Listen now</div>
			</a>
		</div>

		<div class="ManageStory-wall"></div>

		<div class="ManageStory-Container">
			<img src="~/img/Template Storii_StoriiTheme.jpg" />

			<div class="ManageStory-Content">
				<p class="ManageStory-Author">Delia Owens</p>
				<p class="ManageStory-StoryTitle">
					Far from here where the crawdads sing
				</p>
				<p class="ManageStory-Description">
					A beautiful Carolina which cover the deepest psychology of a little
					girl, who born for Carolina and die where the crawdads sing!
				</p>
				<p class="ManageStory-Day">26/03/2023</p>
			</div>

			<a asp-controller="" asp-action="" class="ManageStory-ListenNow">
				<div>Listen now</div>
			</a>
		</div>

		<div class="ManageStory-wall"></div>

		<div class="ManageStory-Container">
			<img src="~/img/Template Storii_StoriiTheme.jpg" />

			<div class="ManageStory-Content">
				<p class="ManageStory-Author">Delia Owens</p>
				<p class="ManageStory-StoryTitle">
					Far from here where the crawdads sing
				</p>
				<p class="ManageStory-Description">
					A beautiful Carolina which cover the deepest psychology of a little
					girl, who born for Carolina and die where the crawdads sing!
				</p>
				<p class="ManageStory-Day">26/03/2023</p>
			</div>

			<a asp-controller="" asp-action="" class="ManageStory-ListenNow">
				<div>Listen now</div>
			</a>
		</div>
	</div>
</div>
