@model ManageProfileModel
@{
	Layout = "_Layout";
}

<div class="Manage-Profile">
	<div class="Manage-Profile_Avatar">
		<img src="/img/Daijin.png" />
	</div>

	<div class="Manage-Profile_Information">
		
		<form id="form-profile" asp-action="ManageProfile" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<table>
				@*User name*@
				<tr>
					<td>
						User name
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						@*Thêm id "MyInput " để viết sự kiện bỏ thuộc tính readonly*@
						<input type="text" id="MyInput1" asp-for="Name" readonly />
						<i class="fa-solid fa-pen" data-input-id="MyInput1"></i>
					</td>
				</tr>
				<tr>
					<td><span asp-validation-for="Name" class="text-danger"></span></td>
				</tr>
				@*Account*@
				<tr>
					<td>
						Account
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input asp-for="Account" readonly />
					</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				@*Password*@
				<tr>
					<td>
						Password
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="******" readonly />
						<i class="fa-solid fa-pen iconChangePassword"></i>
					</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				@*New password*@
				<tr class="hide" id="ChangePassword">
					<td>
						New Password
					</td>
				</tr>
				<tr class="Manage-Profile_Show_NewPassword hide">
					<td>
						<input id="New_Password" asp-for="NewPassword" />
					</td>
				</tr>
				<tr class="hide">
					<td><span asp-validation-for="NewPassword" class="text-danger"></span></td>
				</tr>
				@*Confirm password*@
				<tr class="hide" id="ChangePassword2">
					<td>
						Confirm Password
					</td>
				</tr>
				<tr class="Manage-Profile_Show_NewPassword hide">
					<td>
						<input id="Confirm_Password" asp-for="ConfirmPassword" />
					</td>
				</tr>
				<tr class="hide">
					<td><span asp-validation-for="ConfirmPassword" class="text-danger"></span></td>
				</tr>
				@*Phone number*@
				<tr>
					<td>
						Phone number
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input id="MyInput3" asp-for="PhoneNumber" readonly />
						<i class="fa-solid fa-pen" data-input-id="MyInput3"></i>
					</td>
				</tr>
				<tr>
					<td><span asp-validation-for="PhoneNumber" class="text-danger"></span></td>
				</tr>
				

				@*Age*@
				<tr>
					<td>
						Age
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input asp-for="Age" readonly />
					</td>
				</tr>
				<tr>
					<td></td>
				</tr>

				@*Birthday*@
				<tr>
					<td>
						Birthday
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input id="MyInput4" asp-for="Birthday" readonly />
						<i class="fa-solid fa-pen" data-input-id="MyInput4"></i>
					</td>
				</tr>
				<tr>
					<td><span asp-validation-for="Birthday" class="text-danger"></span></td>
				</tr>

				@*Gender*@
				<tr>
					<td>
						Gender
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input id="MyInput5" asp-for="Gender" readonly />
						<i class="fa-solid fa-pen" data-input-id="MyInput5"></i>
						
					</td>
				</tr>
				<tr>
					<td><span asp-validation-for="Gender" class="text-danger"></span></td>
				</tr>
			</table>
		</form>
		<div class="Manage-Profile_btnSave">
			<button form="form-profile" type="submit">Save now</button>
		</div>
	</div>
</div>
