@model RegisterModel
@{
    ViewData["Title"] = "SignUp Page";
    Layout = "_Layout";
}
<div class="grid">

    <div class="grid_row">

        <div class="grid_2_column">
            <div class="Vinyl_with_Reader">
                <img src="~/img/Vinyl with Reader.png" alt="" class="Login-form_Vinyl" />
            </div>
        </div>

        <div class="grid_2_column">

            <div class="SignUp_form">
                <div class="SignUp-form_icon">
                    <img src="~/img/Vector.png" alt="" class="SignUp-form_iconPerson" />
                </div>

                <div class="SignUp_form-form">
                    <form asp-action="Register" method="post">
                        <div class="SignUp-form_text_field">
                            <input id="email" asp-for="Email" autocomplete="off" />
                            <span asp-validation-for="Email"></span>
                            <label for="email">Email</label>
                        </div>

                        <div class="SignUp-form_radio_button">
                            <label>Gender</label>
                            <input id="male" type="radio" asp-for="Gender" value="1" />
                            <label for="male">Male</label>
                            <input id="female" type="radio" asp-for="Gender" value="2" />
                            <label for="female">Female</label>
                            <input id="optional" type="radio" asp-for="Gender" value="3" />
                            <label for="optional">Optional</label>
                            <span asp-validation-for="Gender"></span>
                        </div>

                        <div class="SignUp-form_Date">
                            <label for="date">Date of birth</label>                       
                            <input id="date" asp-for="BirthDay" placeholder=" " />
                            <span asp-validation-for="BirthDay"></span>
                        </div>

                        <div class="SignUp-form_text_field">
                            <input id="password" asp-for="Password" />                         
                            <span asp-validation-for="Password"></span>
                            <label for="password">Password</label>
                        </div>

                        <div class="SignUp-form_text_field">
                            <input id="confirm-password" asp-for="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword"></span>
                            <label for="confirm-password">Confirm password</label>
                        </div>

                        <input type="submit" value="Sign Up" />
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>




@*@model RegisterModel
@{
    ViewData["Title"] = "SignUp Page";
    Layout = "_Layout";
}
<div class="grid">

    <div class="grid_row">

        <div class="grid_2_column">
            <div class="Vinyl_with_Reader">
                <img src="~/img/Vinyl with Reader.png" alt="" class="Login-form_Vinyl" />
            </div>
        </div>

        <div class="grid_2_column">

            <div class="SignUp_form">
                <div class="SignUp-form_icon">
                    <img src="~/img/Vector.png" alt="" class="SignUp-form_iconPerson" />
                </div>

                <div class="SignUp_form-form">
                    <form asp-action="Register" method="post">
                        <div class="SignUp-form_text_field">
                            <input asp-for="Email" />
                            <div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <label asp-for="Email"></label>
                        </div>

                        <div class="SignUp-form_radio_button">
                            <label>Gender</label>
                            <input type="radio" asp-for="Gender" id="male" value="1">
                            <label for="male">Male</label>
                            <input type="radio" asp-for="Gender" id="female" value="2">
                            <label for="female">Female</label>
                            <input type="radio" asp-for="Gender" id="optional" value="3">
                            <label for="optional">Optional</label>
                            <div><span asp-validation-for="Gender" class="text-danger"></span></div>
                        </div>

                        <div class="SignUp-form_Date">
                            <label asp-for="BirthDay">Date of birth</label>
                            <div><span asp-validation-for="BirthDay" class="text-danger"></span></div>
                            <input asp-for="BirthDay" placeholder=" " />
                        </div>

                        <div class="SignUp-form_text_field">
                            <input asp-for="Password" />
                            <div><span asp-validation-for="Password" class="text-danger"></span></div>
                            <label asp-for="Password"></label>
                        </div>

                        <div class="SignUp-form_text_field">
                            <input asp-for="ConfirmPassword" />
                            <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
                            <label asp-for="ConfirmPassword"></label>
                        </div>

                        <input type="submit" value="Sign Up"/>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>*@



