@{
	Layout = "_Layout";
}

<div class="Manage-Profile">
	<div class="Manage-Profile_Avatar">
		<img src="/img/Daijin.png"/>
	</div>

	<div class="Manage-Profile_Information">
		<form>
			<table>
				<tr>
					<td>
						User name
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="Nguyễn Đình Anh Tiến" readonly />
						<i class="fa-solid fa-pen"></i>
					</td>
				</tr>
				<tr>
					<td>
						Account
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="Anhtien1609@gmail.com" readonly />
					</td>
				</tr>
				<tr>
					<td>
						password
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="**********************" readonly/>
						<i class="fa-solid fa-pen"></i>
					</td>
				</tr>
				<tr>
					<td>
						Phone number
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="0123xxxxxxxx" readonly />
						<i class="fa-solid fa-pen"></i>
					</td>
				</tr>
				<tr>
					<td>
						Age
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="21" readonly />
					</td>
				</tr>
				<tr>
					<td>
						Birthday
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="16/09/2003" readonly/>
						<i class="fa-solid fa-pen"></i>
					</td>
				</tr>
				<tr>
					<td>
						Gender
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="Male" readonly />
						<i class="fa-solid fa-pen"></i>
					</td>
				</tr>
			</table>
		</form>

		<div class="Manage-Profile_btnSave">
			<a href="">Save now</a>
		</div>
	</div>
</div>
