@{
	Layout = "_Layout";
}

<div class="Manage-Profile">
	<div class="Manage-Profile_Avatar">
		<img src="/img/Daijin.png"/>
	</div>

	<div class="Manage-Profile_Information">
		<form>
			<table>
				<tr>
					<td>
						User name
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						@*Thêm id "MyInput " để viết sự kiện bỏ thuộc tính readonly*@
						<input type="text" id="MyInput1" value="Nguyễn Đình Anh Tiến" readonly />
						<i class="fa-solid fa-pen" data-input-id="MyInput1"></i>
					</td>
				</tr>
				<tr>
					<td>
						Account
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="Anhtien1609@gmail.com" readonly />
					</td>
				</tr>
				<tr>
					<td>
						Password
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="**********************" readonly />
						<i class="fa-solid fa-pen iconChangePassword"></i>
					</td>
				</tr>
				<tr class="hide" id="ChangePassword">
					<td>
						New Password
					</td>
				</tr>
				<tr class="Manage-Profile_Show_NewPassword hide">
					<td>
						<input type="text" id="New_Password" value="**********************" />
					</td>
				</tr>
				<tr class="hide" id="ChangePassword2">
					<td>
						Confirm Password
					</td>
				</tr>
				<tr class="Manage-Profile_Show_NewPassword hide">
					<td>
						<input type="text" id="Confirm_Password" value="**********************" />
					</td>
				</tr>
				<tr>
					<td>
						Phone number
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" id="MyInput3" value="0123xxxxxxxx" readonly />
						<i class="fa-solid fa-pen" data-input-id="MyInput3"></i>
					</td>
				</tr>
				<tr>
					<td>
						Age
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="21" readonly />
					</td>
				</tr>
				<tr>
					<td>
						Birthday
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" id="MyInput4" value="16/09/2003" readonly />
						<i class="fa-solid fa-pen" data-input-id="MyInput4"></i>
					</td>
				</tr>
				<tr>
					<td>
						Gender
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" id="MyInput5" value="Male" readonly />
						<i class="fa-solid fa-pen" data-input-id="MyInput5"></i>
					</td>
				</tr>
			</table>
		</form>

		<div class="Manage-Profile_btnSave">
			<a href="">Save now</a>
		</div>
	</div>
</div>
