@{
	Layout = "_Layout";
}

<div class="Manage-Profile">
	<div class="Manage-Profile_Avatar">
		<img src="/img/Daijin.png"/>
	</div>

	<div class="Manage-Profile_Information">
		<form>
			<table>
				<tr>
					<td>
						User name
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<label>Nguyễn Đình Anh Tiến</label>
						<i class="fa-solid fa-pen"></i>
					</td>
				</tr>
				<tr>
					<td>
						Account
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<label>Anhtien1609@gmail.com</label>
					</td>
				</tr>
				<tr>
					<td>
						password
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<label>**********************</label>
						<i class="fa-solid fa-pen"></i>
					</td>
				</tr>
				<tr>
					<td>
						Phone number
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<label>0123xxxxxxxx</label>
						<i class="fa-solid fa-pen"></i>
					</td>
				</tr>
				<tr>
					<td>
						Age
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<label>21</label>
					</td>
				</tr>
				<tr>
					<td>
						Birthday
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<label>16/09/2003</label>
						<i class="fa-solid fa-pen"></i>
					</td>
				</tr>
				<tr>
					<td>
						Gender
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<label>Male</label>
						<i class="fa-solid fa-pen"></i>
					</td>
				</tr>
			</table>
		</form>

		<div class="Manage-Profile_btnSave">
			<a href="">Save now</a>
		</div>
	</div>
</div>
