@{
    ViewData["HasFooterSpliter"] = true;
}

<div style="padding: 20px 4%;">
    <h2 style="font-size: 30px;">Payment Failed</h2>
    <p style="font-size: 20px;">There was an error processing your payment. Please try again.</p>
</div>