

<div class="EmotionSong-container">
	<p class="EmotionSong-lyrics">
		It rains today. Abig rain but everything are OK. Look outside the rain.
		I think i can get to see all individual drops falling down. I make myself
		a coffee. Thinks in my mind is clearly. Everything is clearly ....
	</p>

	<img alt="" src="~/img/Frame 12.png" class="EmotionSong-img"/>

	<div class="EmotionSong-Icons">
		<i class="fa-solid fa-circle-arrow-left"></i>

		<i class="fa-regular fa-circle-play"></i>

		<i class="fa-solid fa-circle-arrow-right"></i>
	</div>
</div>
