

<style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
</style>
<div class="grid">
    <div style="max-width:max-content; height:450px">
        <div class="ST-ROW-1">
            <div class="ST-R1-COL1">
                <h1 class="storii-header">Be the Storii.</h1>
                <br />
                <b>
                    <span class="storii-span1">Let the world felling you,</span>
                    <br />
                    <span class="storii-span1">Let you feeling the world,</span>
                    <br />
                    <span class="storii-span1">Discover yourself, your emotion, your thinking!</span>
                </b>
            </div>

            <div class="ST-R1-COL2">
                <img src="~/img/Article picture_StoriiTheme.jpg" class="storii-img-first" />
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
</div>
<div style="max-width:100%; height:800px; background-color:white">
    <div class="ST-ROW-2">


        <div class="ST-R2-COL1">

            <div class="ST-ContentsZ">
                <div class="ST-Contents-img">
                    <img src="~/img/Template Storii_StoriiTheme.jpg" style="width:180px; height:145px" />
                </div>


                <div class="ST-Contents-text">
                    <a href="#" class="link-primary" style="color:black">Delta Crowns</a>
                    <br />
                    <p style="margin-top:10px">
                        <b style="font-size:25px">Far from here where the crawdads sing</b>
                        <br />

                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz

                    </p>
                </div>
            </div>




            <div class="ST-ContentsZ" style="">
                <div class="ST-Contents-img2">
                    <img src="~/img/Template Storii_StoriiTheme.jpg" style="width:180px; height:145px" />
                </div>


                <div class="ST-Contents-text2">
                    <a href="#" class="link-primary" style="color:black">Delta Crowns</a>
                    <br />
                    <p style="margin-top:10px">
                        <b style="font-size:25px">Far from here where the crawdads sing</b>
                        <br />
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                    </p>
                </div>


            </div>



            <div class="ST-ContentsZ" style="">
                <div class="ST-Contents-img2">
                    <img src="~/img/Template Storii_StoriiTheme.jpg" style="width:180px; height:145px" />
                </div>


                <div class="ST-Contents-text2">
                    <a href="#" class="link-primary" style="color:black">Delta Crowns</a>
                    <br />
                    <p style="margin-top:10px">
                        <b style="font-size:25px">Far from here where the crawdads sing</b>
                        <br />
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                    </p>
                </div>


            </div>


            <div class="ST-ContentsZ" style="">
                <div class="ST-Contents-img2">
                    <img src="~/img/Template Storii_StoriiTheme.jpg" style="width:180px; height:145px" />
                </div>


                <div class="ST-Contents-text2">
                    <a href="#" class="link-primary" style="color:black">Delta Crowns</a>
                    <br />
                    <p style="margin-top:10px">
                        <b style="font-size:25px">Far from here where the crawdads sing</b>
                        <br />

                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                    </p>
                </div>


            </div>

        </div>



        <div class="ST-R2-COL2">
            Having something to tell the world but didn't find anyone to hearing you? Just give it to us, we're here to listen to you!
            <br />
            Contact directly with us
            <a href="#" class="btn btn-primary" style="border-radius:15px; background-color:black ; font-size:15px">Contact</a>
            <br />
            Or
            <br /> Just be the storii!
            <a href="#" class="btn btn-secondary" style="border-radius:15px; background-color:black ; font-size:15px">Be the STORIER</a>
        </div>
    </div>
</div>

<br />
<br />




