@model IEnumerable<Story>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Storii";
}

<style>

    
    

</style>
<div class="grid">
    <div style="max-width:max-content; height:450px">
        <div class="ST-ROW-1">
            <div class="ST-R1-COL1">
                <h1 class="storii-header">Be the Storii.</h1>
                <br />
                <b>
                    <span class="storii-span1">Let the world felling you,</span>
                    <br />
                    <span class="storii-span1">Let you feeling the world,</span>
                    <br />
                    <span class="storii-span1">Discover yourself, your emotion, your thinking!</span>
                </b>
            </div>

            <div class="ST-R1-COL2">
                <img src="~/img/Article picture_StoriiTheme.jpg" class="storii-img-first" />
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
</div>
<div style="max-width:100%; height:800px; background-color:white">
    <div class="ST-ROW-2">

        @*@foreach (Story story in Model ?? Enumerable.Empty<Story>())
            {
                <div class="ST-ContentsZ" style="">
                    <div class="ST-Contents-img2">
                        <img src="@("img/story/" + story.AvatarImage)" asp-append-version="true"
                             style="width:180px; height:145px" />
                    </div>
                    <div class="ST-Contents-text2">
                        <a href="#" class="link-primary" style="color:black">@story.Author</a>
                        <i class="fa-regular fa-circle-play"></i>
                        <br />
                        <p style="margin-top:10px">
                            <b style="font-size:25px">@story.Name</b>
                            <br />
                            @story.Description
                        </p>
                    </div>
                </div>
            }*@

        <div class="ST-R2-COL1">
            @for(int i = 1 ; i <= 100 ; i++){
            <div class="Storii-Contents">
                <img src="~/img/Template Storii_StoriiTheme.jpg" style="width:180px; height:150px" />

                <div class="Storii-Contents-Text">
                    <a href="#" class="link-primary" style="color:black">Delta Crowns</a>
                    <i class="fa-regular fa-circle-play"></i>
                    <p style="margin-top:10px">
                        <b style="font-size:25px">Far from here where the crawdads sing</b>
                        <br />

                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz
                        abcxyzabcxyz

                    </p>
                </div>
            </div>
            }

            
        </div>



        <div class="ST-R2-COL2">
            Having something to tell the world but didn't find anyone to hearing you? Just give it to us, we're here to listen to you!
            <br />
            Contact directly with us
            <a href="#" class="btn btn-primary" style="border-radius:15px; background-color:black ; font-size:15px">Contact</a>
            <br />
            Or
            <br /> Just be the storii!
            <a href="#" class="btn btn-secondary" style="border-radius:15px; background-color:black ; font-size:15px">Be the STORIER</a>
        </div>
    </div>
</div>

<br />
<br />




