@model Genre
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Create new genre";
}

<div class="Admin-AddNewModel">
    <a asp-controller="Genre" asp-action="Index">
        <i class="fa-solid fa-arrow-left-long"></i>
        Back
    </a>

    <h1>New genre</h1>

    <form id="create-genre-form" asp-controller="Genre" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="login-validation-summary-errors"></div>

        <div class="Admin-AddNewModel_text_field">
            <label>ID</label>
            <input type="text" readonly placeholder="Auto filling"/>
        </div>

        <div class="Admin-AddNewModel_text_field">
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input asp-for="Name" />
        </div>
    </form>

    <div class="btn-AddNewModel">
        <button form="create-genre-form" type="submit">Add new genre</button>
    </div>
</div>
