@model Genre
@{
    Layout = "_LayoutAdmin";
}

<div class="Admin-AddNewModel">
    <a asp-controller="Genre" asp-action="Index">
        <i class="fa-solid fa-arrow-left-long"></i>
        Back
    </a>

    <h1>Genre editting</h1>

    <form id="edit-genre-form" asp-controller="Genre" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="login-validation-summary-errors"></div>

        <div class="Admin-AddNewModel_text_field">
            <label asp-for="GenreId">ID</label>
            <input asp-for="GenreId" readonly/>
        </div>

        <div class="Admin-AddNewModel_text_field">
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input asp-for="Name" />
        </div>
    </form>

    <div class="btn-AddNewModel">
        <button form="edit-genre-form" type="submit">Save</button>
    </div>
</div>
