

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --Error-color: #c31d1d;
    --primary-color: #84D9BA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    position: relative;
    max-height: 100%;
}

.grid {
    width: 92.166%;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-with {
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
}

.grid_column {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid_2_column {
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

.grid_column_2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
}


.grid_column_3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33%;
    /*height: 75%;*/
    display: inline-block;
}

.grid_2_row {
    padding-left: 5px;
    padding-right: 5px;
    height: 50%;
}

body {
    height: 850px;
    background-color: var(--primary-color);
}

.Header {
    height: 200px;
}

.Header_navbar {
    display: flex;
    justify-content: space-between;
}

.Header_navbar-Rhythm {
    font-size: 160px;
    font-family: 'AM VINYL';
    font-style: normal;
    font-weight: 900;
    line-height: 180px;
    color: #EBFFE1;
}

.Header_navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header_navbar-item {
    display: inline-block;
    position: relative;
}

.Header_navbar-link {
    margin: 0 15px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Montserrat';
    letter-spacing: 0.16em;
    font-weight: 400;
    line-height: 200px;
    color: #FFFFFF !important;
    font-style: normal;
}


.Header_navbar-item-Login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 32px;
    gap: 10px;
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 132px;
    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.Header_navbar-Login {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 201.4%;
    /* or 60px */
    text-decoration: none;
    margin-left: 6px;
    color: #000000;
}

.spliter {
    position: absolute;
    width: 92%;
    height: 0px;
    border: 2px solid #FFFFFF;
}

/*.spliter-footer {
    position: absolute;
    width: 92%;
    height: 0px;
    border: 2px solid #FFFFFF;
}*/



.Footer_logo {
    width: 300px;
    margin-top: 20px;
}

.Footer_list {
    list-style: none;
    margin-top: 100px;
}

.Footer_item {
    display: flex;
}

.Footer_link {
    margin: 0 40px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    padding-left: 0;
    letter-spacing: 0.16em;
    color: #000000 !important;
}

.Footer_para {
    margin: 30px 65px;
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 201.4%;
    /* or 60px */

    letter-spacing: 0.085em;
    color: #000000;
}


.Login-form {
    box-sizing: border-box;
    height: 600px;
    margin: 80px 0px;
}

.Login-form_icon {
    height: 70px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.Login-form_iconPerson {
    height: 70px;
}

.Login-form_title {
    width: 80%;
    height: 70px;
    background: #FFFFFF;
    border-radius: 142px;
    outline: none;
    font-family: 'Avenir Next Cyr';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 230%;
    /* or 101px */
    color: #000000;
    text-align: center;
}


.Login-form_form {
    /*padding: 0 20px;*/
    box-sizing: border-box;
}

form .Login-form_text_field {
    position: relative;
    width: 80%;
    /*border-bottom: 2px solid #FFFFFF;*/
    margin: 70px 0;
}

.Login-form_text_field input {
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    width: 100%;
}

.Login-form_text_field label {
    position: absolute;
    top: 50%;
    left: 0px;
    color: #FFFFFF;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
    transition: 0.5s;
}

.Login-form_text_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    height: 2px;
    background: #FFFFFF;
}

.Login-form_text_field input:focus ~ label,
.Login-form_text_field input:valid ~ label {
    top: -5px;
    color: #FFFFFF;
}



.Login-form_text_field input:focus ~ span::before,
.Login-form_text_field input:valid ~ span::before {
    width: 100%;
    
}

input[type="submit"] {
    width: 80%;
    height: 70px;
    background: var(--primary-color);
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    font-size: 28px;
    outline: none;
    color: #FFFFFF;
}

    input[type="submit"]:hover {
        border-color: #FFFFFF;
        transition: 0.5s;
    }

.signup_link {
    width: 80%;
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
}

    .signup_link a {
        color: #FFFFFF;
        text-decoration: none;
    }

        .signup_link a:hover {
            text-decoration: underline;
        }

.Login-form_Vinyl {
    width: 100%;
    height: 100%;
    margin: 32px auto;
}


.login-validation-summary-errors {
    color: var(--Error-color);
    width: 80%;
    margin-top: 30px;
}


    .login-validation-summary-errors li {
        text-align: center;
    }

/*SignUp form*/
.SignUp_form {
    box-sizing: border-box;
    height: 850px;
    margin: 42px 0;
    margin-left: 20%;
}

.SignUp-form_Vinyl{
    width: 100%;
    height: 100%;
    margin: 122px 0;
}

.SignUp-form_icon {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.SignUp-form_iconPerson {
    height: 70px;
}

form .SignUp-form_text_field {
    position: relative;
    margin: 60px 0;
}

.SignUp-form_text_field input {
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    width: 100%;
}

.SignUp-form_text_field label {
    position: absolute;
    top: 50%;
    left: 0px;
    color: #FFFFFF;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
    transition: 0.5s;
}

.SignUp-form_text_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    height: 2px;
    background: #FFFFFF;
}

.SignUp-form_text_field input:focus ~ label,
.SignUp-form_text_field input:valid ~ label {
    top: -5px;
    color: #FFFFFF;
}


.SignUp-form_text_field input:focus ~ span::before,
.SignUp-form_text_field input:valid ~ span::before {
    width: 100%;
}

.SignUp-form_radio_button {
    font-family: 'Avenir Next Cyr';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 201.4%;
    color: #FFFFFF;
}

input[type="radio"] {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    transform: translateY(20%);
}

.SignUp-form_radio_button label {
    margin-bottom: 15px;
    padding-right: 58px;
}

.SignUp-form_Date {
    position: relative;
    margin: 45px 0;
}

input[type=date] {
    padding: 0 0px;
    height: 25px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    color: #FFFFFF;
    background-color: var(--primary-color);
    width: 100%;
    border-bottom: 2px solid #FFFFFF;
}



.SignUp-form_Date label {
    font-size: 20px;
    position: absolute;
    top: 50%;
    color: #FFFFFF;
    transform: translateY(-175%);
    pointer-events: none;
    transition: 0.5s;
}

.SignUp-form_Date span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    height: 2px;
    background: #FFFFFF;
}

.SignUp-form_Date input:focus ~ label,
.SignUp-form_Date input:valid ~ label {
    top: -5px;
    color: #FFFFFF;
}

::-webkit-calendar-picker-indicator {

    border: 2px solid #000;
}

input[value='Sign Up'] {
    width: 100%;
}


/*small {
    position: absolute;
    font-size: 16px;
    display: flex;
    color: var(--Error-color);
}

.small_radio {
    line-height: 0;
}

.small_Date {
    margin-top: 30px;
}*/

.text-danger {
    font-size: 18px;
    line-height: 35px;
}

.validation-summary-errors {
    font-size: 18px;
    color: var(--Error-color);
}

    .validation-summary-errors ul {
        padding-left: 0;
    }

    .validation-summary-errors li {
        list-style: none;
    }

.ES-Index {
    max-width: 100%;
}



.ES-Index-Row1-Col1 {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 25%;
    margin-left: 23%;
    height: 40%;
    float: left;
}

.ES-Index-Row1-Col2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 70%;
}

.hev-div-1 {
    border-style: solid;
    border-color: mediumvioletred;
    border-width: 1px;
    font-size: 20px;
    background-color: aliceblue;
    width: 100%;
    border-radius: 30px;
}

.hev-div-inside {
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 10%;
}

.play-ES {
    color: black;
    font-size: 35px;
    font-family: 'Comic Sans MS';
    margin-left: 33.25%;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/*Storii*/

.ST-R1-COL1 {
    padding-top: 100px;
    padding-right: 30%;
    float: left;
}

.ST-R1-COL2 {
    padding-top: 3%;
    display: flex;
    padding-left: 12%;
    /*justify-content: center;
    align-items: center;*/
}

.storii-span1 {
    font-size: 20px;
}

.storii-header {
    font-size: 62px;
    font-family: 'OCR A';
}




.storii-img-first {
    width: 380px;
    height: 385px;
    border-radius: 40px;
    padding-top: 15px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    /*-khtml-box-shadow: 10px 10px 5px #ccc;*/
}



.ST-R2-COL1 {
    margin-top: 6%;
    margin-left: 5%;
    font-size: 17px;
    float: left;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 600px;
    max-width: 800px;
    height: 600px;
    width: 800px;
    color: #3B3C3E;
}


.ST-R2-COL2 {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 6%;
    margin-left: 63.6%;
    width: 380px;
}

.ST-ContentsZ {
    padding-left: 10px;
}

.ST-Contents-text {
    float: right;
    width: 70%;
    text-align: justify-all;
}

.ST-Contents-text2 {
    float: right;
    width: 70%;
    text-align: justify-all;
    margin-top: 40px;
}

.ST-Contents-text i {
    cursor: pointer;
}

.ST-Contents-img {
    width: 30%;
    float: left;
}

.ST-Contents-img2 {
    width: 30%;
    float: left;
    margin-top: 55px;
}


/*Manage Profile*/

.Manage-Profile {
    display: flex;
    width: 100%;
    height: 100%;
    background: white;
}

.Manage-Profile_Avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.Manage-Profile_Avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 50px;
}

.Manage-Profile_Information {
    margin: 50px 0;
    width: 68%;
}

.Manage-Profile_Information table {
    width: 100%;
}


.Manage-Profile_Information td {
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

.Manage-Profile_Show {
    font-weight: 700;
    font-family: "poppin";
    background: rgba(218, 216, 216, 0.52);
}

.Manage-Profile_Show input {
    border: none;
    outline: none;
    width: 100%;
    background: border-box;
}

.Manage-Profile_Show input[type=date] {
    color: #000;
    width: 20%;
}

.Manage-Profile_Show i {
    cursor: pointer;
    font-size: 15px;
    padding-top: 8px;
}

.OptionGender {
    border: none;
    background: border-box;
}

.Manage-Profile_btnSave {
    width: 150px;
    height: 40px;
    background: #ccc;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(590%);
    margin: 20px 0;
}


.Manage-Profile_btnSave button {
    border: none;
    outline: none;
    font-size: 20px;
    color: #000;
    background: border-box;
}

/*Home*/
.Discover {
    width: 100%;
    height: 3000px;
    background: #fff;
}

.Discover_item {
    width: 75%;
    margin: 0 auto;
    padding: 50px 0;
}

.Discover_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*bar-down*/

.bars-down {
    position: absolute;
    list-style: none;
    width: 150px;
    height: 100px;
    font-size: 20px;
    background: #fff;
    transform: translateY(-63px) translateX(200px);
}

.bars-down a {
    text-decoration: none;
}

.bars-down i {
    font-size: 20px;
}

.Header_navbar-item .fa-bars {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.Manage-Profile_Show_NewPassword {
    font-weight: 700;
    font-family: "poppin";
    background: rgba(218, 216, 216, 0.52);
}

.Manage-Profile_Show_NewPassword input {
    border: none;
    outline: none;
    width: 100%;
    background: border-box;
}

.hide {
    display: none;
}

/*Emotion Song*/

.EmotionSong-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}

.EmotionSong-InitEmote {
    width: 35%;
    border: 1px solid #000;
    background: #fff;
    border-radius: 30px;
    margin: 50px 50px;
    padding: 25px 0;
}

.EmotionSong-Disc {
    width : 100%;
}

.EmotionSong-OptionEmote {
    width: 30%;
    font-size: 20px;
    color: #FF6E41;
    letter-spacing: 3.5px;
    border-radius: 5px;
    margin: 25px 0;
}

.EmotionSong-lyrics {
    font-family: 'Clicker Script', cursive;
    width: 80%;
    font-size: 24px;
    margin: 0 auto;
    line-height: 2.5;
    letter-spacing: 2.5px;
    font-weight: 600;
}

.EmotionSong-btnPlayMusic {
    width: 50%;
    font-size: 22px;
    background: #424242;
    color: #fff;
    border-radius: 50px;
    font-family: "AM VINYL";
    font-weight: 900;
    margin: 20px 0;
}

.EmotionSong-btnPlayMusic img {
    width: 10%;
    height: 10%;
    margin-bottom: 5px;
}


.EmotionSong-ListenMusic {
    width: 40%;
    height: 100%;
    border: 1px solid #000;
    background: #fff;
    border-radius: 20px;
    margin: 50px 50px;
}

.EmotionSong-ListenMusic img {
    width: 80%;
    height: 80%;
    margin-top: 25px;
}

.EmotionSong-SongName {
    margin: 30px 0;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
    text-decoration: underline;
}

.EmotionSong-Icons {
    width: 80%;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    cursor: pointer;
}

/*Admin*/

.Admin-contents {
    width: 100%;
    height: 100%;
    display: flex;
}

.Admin_sidebar_navigations {
    width: 20%;
    height: 100%;
    background: #caf1e3;
    padding: 40px 8px;
}

.Admin_sidebar_navigation-item {
    padding: 5px 15px;
    border-radius: 10px;
    cursor:pointer;
}

.Admin_sidebar_navigation-item:hover {
    background: #67AB8E;
}

.Admin_sidebar_navigation-item i {
    font-size: 35px;
    padding-right: 15px;
}

.Admin_sidebar_navigation-item a {
    text-decoration: none;
    font-size: 30px;
    color: #000;
    font-weight: bold;
    padding-left: 5px;
}

#Resources-list {
    font-size: 30px;
    font-weight: bold;
}

#Resources-list img {
    width: 30px;
    height: auto;
    margin-right: 16px;
    padding-bottom: 5px;
}

.Admin_sidebar_navigation-Resources-item {
    padding: 15px 75px;
    border-radius: 10px;
    cursor: pointer;
}

.Admin_sidebar_navigation-Resources-item img {
    width: 20px;
    height: auto;
    margin-bottom: 6px;
}

.Admin_sidebar_navigation-Resources-item:hover {
    background: #67AB8E;
}

.Admin_sidebar_navigation-Resources-item i {
    font-size: 20px;
}

.Admin_sidebar_navigation-Resources-item a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    padding-left: 15px;
}

.Admin-container {
    width: 80%;
    height: 100%;
    background: #e8e5e5;
    position: relative;
}


/*Admin-AddNewModel*/

.Admin-AddNewModel {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    padding: 25px;
}

.Admin-AddNewModel i {
    font-size: 20px;
    cursor: pointer;
}


.Admin-AddNewModel a {
    font-size: 18px;
    padding-left: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;

}

.Admin-AddNewModel h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}

.Admin-AddNewModel_text_field label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0;
}

.Admin-AddNewModel_text_field input {
    width: 100%;
    height: 30px;
    font-size: 18px;
    background: rgba(243, 243, 243, 0.68);
    border: none;
    outline: none;
}

#Directory-path, #Audio-Source-file, #Image {
    width: 97%;
}


.Admin-AddNewModel_text_field i {
    display: inline-block;
    align-self: center;
    font-size: 25px;
    cursor: pointer;
    margin-left: 5px;
    transform: translateY(2px);
}
.Admin-AddNewModel_text_field textarea {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background: rgba(243, 243, 243, 0.68);
    border: none;
    outline: none;
}

.Admin-AddNewModel-Category {
    display: flex;
    margin-bottom: 50px;
}

.Admin-AddNewModel-Category label{
    font-size: 15px;
    font-weight: bold;
    width: 7%;
    height: 30px;
    display: flex;
    align-items: center;
}

/*.Admin-AddNewModel-Category input[type=text] {
    width: 80%;
    height: 30px;
    background: rgba(243, 243, 243, 0.68);
    border: none;
    outline: none;
}*/

.Category-Show {
    width: 90%;
    height: 30px;
    background: rgba(243, 243, 243, 0.68);
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.Category-Show-item {
    background: #fff;
    border: 1px solid #000;
    height: 20px;
    padding: 3px;
    margin-left: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.Category-Show-item i {
    font-size: 10px;
    
}

.Category-List {
    width: 17%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2px 10px;
}

.Category-List i{
    display: flex;
    justify-content: end;
}

.Category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.Category-item input {
    cursor: pointer;
}

.Category-item:hover {
    background: rgba(218, 216, 216, 0.52);
}
.text-danger[data-valmsg-for="GenreIds"] {
    
}

.btn-AddNewModel {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.btn-AddNewModel button {
    width: 13%;
    height: 35px;
    font-size: 16px;
    background: #000;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
}

/* List song using */

.Model-Container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Model-Search-Box {
    width: 95%;
    height: 12%;
    margin: 10px auto;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.Model-Search {
    border: 1px solid #000;
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
}

.Model-Search input {
    width: 100%;
    height: 30px;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.Model-Search i {
    font-size: 20px;
}

.Model-btn-AddNewModel {
    width: 15%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #000;
}

.Model-btn-AddNewModel a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.Model-Show {
    width: 95%;
    height: 85%;
    background: #fff;
    margin: 10px auto;
    border-radius: 10px;
    padding: 20px 25px;
}

.Model-Show-Table {
    height: 580px;
}

.Model-Show h1 {
    font-size: 40px;
}

.Model-table {
    width: 100%;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: bold;
    margin-top: 15px;
}

.Model-table thead {
    background: #D9D9D9;
}

.table-STT {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table-Delete-Edit {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Model-table td {
    padding: 2px 10px;
}

.Model-table-data td {
    padding: 10px 10px;
}

.Model-table-data-del-edit {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 51.6px;
}

.Model-GoToDetails {
    font-size: 18px;
    color: #000;
    padding-right: 15px;
}

.Model-table-data-del-edit form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Model-table-data-del-edit i {
    font-size: 22px;
    cursor: pointer;
}

.Model-table-data-del-edit img {
    width: 18px;
    height: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.Model-Page {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 0 53%;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

.Model-GoToPage {
    border: 1px solid #000;
    padding: 0 10px;
}

.Model-GoToPage a {
    text-decoration: none;
    color: #000;
}

.Model-GoToPage input {
    width: 30px;
    height: 18px;
    border: 1px solid #000;
    outline: none;
    text-align: center;
}

.Model-prev-pagenumber-next-last {
    border: 1px solid #000;
    padding: 0 10px;
}

.Model-prev-pagenumber-next-last a {
    text-decoration: none;
    color: #000;
}

/* Order */

.Order-Header {
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Order-Header img {
    width: 40px;
    height: 40px;
}

.Order-Wall {
    border: 1px solid #000;
    width: 1px;
    height: 40px;
}

.Model-table-Order-details a{
    color: #000;
}

.OrderDetails-Container {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    padding: 25px;
}

.OrderDetails-Container i {
    font-size: 20px;
    cursor: pointer;
}

.OrderDetails-Container a {
    font-size: 18px;
    padding-left: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.OrderDetails-Title {
    height: 55px;
    border-radius: 8px;
    background: #D2EEE4;
    margin: 20px 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 40px;
    font-weight: bold;
    
}

.OrderDetails-Show {
    border: 1px solid #000;
    height: 85%;
}

.OrderDetails-Show img {
    width: 20%;
    height: auto;
    object-fit: cover;

}



.MemberDetail_Searchbox_Zone{
    margin: 2% 2%;
    background-color: white;
    width: 94%;
    height: 80px;
    border-radius: 10px;
}

.MemberDetail_Searchbox {
    padding: 20px 20px;
    width: 55%;
    position: relative;
    display: flex;
}

.MemberDetail_searchTerm {
    font-size: 16px;
    width: 100%;
    border: 1px solid #000000;
    border-right: none;
    padding: 5px;
    height: 36px;
    outline: none;
    color: #9DBFAF;
}

.MemberDetail_searchTerm:focus{
    color: #000000;
}

.MemberDetail_searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #000000;
    border-left: none;
    background: #ffffff;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
}

.MemberList_Zone
{
    margin: 2% 2%;
    background-color: white;
    width: 94%;
    height: 700px;
    border-radius: 10px;
}

.MemberList_Header{
    padding: 20px 20px;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.MemberList_TableZone{
    margin: 2% 2%;
    height: 500px;
    overflow-y: scroll;
}

.MemberList_Table{
    margin: 25px 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    
}

.MemberList_Table thead tr{
    background-color: #d2e2df;
    color: #000000;
    text-align: left;
}

.MemberList_Table thead tr th{
    font-weight: 800;
}

.MemberList_Table th,
.MemberList_Table td{
    padding:10px 52px;
}


.MemberList_Table tbody tr:nth-of-type(even){
    background-color: #e6e2e2;
    
}

.MemberList_Table th:first-child{
    border-radius: 10px 0 0 10px;
}

.MemberList_Table th:last-child{
    border-radius: 0 10px 10px 0;
}
.invisible_input {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}


/* Details */

.Details-Container {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    padding: 25px;
}

.Details-Container h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}

.Details-body {
    width: 100%;
    height: 91%;
    display: flex;
    margin-top: 30px;
}

.Details-img {
    width: 20%;
}

.Details-img img {
    width: 100%;
    height: auto;
}

.Details-Show {
    width: 80%;
    padding: 8px 40px;
}

.Details-Information {
    width: 100%;
    font-size: 20px;
    margin-bottom: 40px;
}

.Details-Information label {
    width: 30%;
}

.Details-Information input {
    width: 69%;
    border: none;
    outline: none;
    font-weight: bold;
}

.Details-Information input[type="date"]{
    background: #fff;
    color: #000;
}

.Details-Information_Description {
    width: 100%;
    font-size: 20px;
    margin-bottom: 30px;
}

.Details-Information_Description label {
    width: 30%;
    transform: translateY(-132px);
}

.Details-Information_Description textarea {
    width: 69%;
    height: 155px;
    border: none;
    outline: none;
    font-weight: bold;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

.Details-footer {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Details-footer a {
    font-size: 15px;
    color: #000;
}

.Details-footer button {
    width: 20%;
    height: 100%;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
}